


.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: -200px; /* Adjust as needed */
}

.toggle-sidebar-btn {
    margin-right: 50px; /* Adjust as needed */
}

.logo {
    line-height: 1;
}

@media (min-width: 1200px) {
    .logo {
        width: 280px;
    }
}

.logo img {
    max-height: 26px;
    margin-right: 6px;
}

.logo span {
    font-size: 26px;
    font-weight: 700;
    color: #012970;
    font-family: sans-serif;
}