@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");


:root {
  scroll-behavior: smooth;
  --primary: #4154f1;
  --second: #717ff5;
  --bgColor: #f6f9ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  color: #4154f1;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
}


